body .swiper-container .swiper-button-prev, 
body .swiper-container .swiper-button-next {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    opacity: 0;
}

body .swiper-container span.swiper-pagination-bullet {
    background: #000;
    border: 2px solid var(--main-color);
    opacity: 1;
    width: 12px;
    height: 12px;
}

body #field_of_activity .swiper-pagination,
body #partner .swiper-pagination {
    position: unset;
    margin-top: 1rem;
}

body .swiper-container span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--main-color);
}

body .swiper-button-prev {
    transform: translateX(-15px);
}

body .swiper-button-next {
    transform: translateX(15px);
}

body .swiper-container:hover .swiper-button-prev, 
body .swiper-container:hover .swiper-button-next {
    transform: translateX(0);
    opacity: 1;
}

body .swiper-button-prev::after, 
body .swiper-button-next::after {
    font-size: 18px;
    font-weight: 600;
    color: yellow;
    width: 100%;
    height: 100%;
    background: #00000099;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-us {
    padding: 3rem 0;
}

#about-us .desc {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    white-space: break-spaces;
    overflow: auto;
}

.path-frontpage #about-us .col-lg-6:first-child {
    margin-bottom: 30px;
}

/* width */
#about-us .desc::-webkit-scrollbar {
    width: 6px;
}

/* Track */
#about-us .desc::-webkit-scrollbar-track {
background: #00000094; 
}

/* Handle */
#about-us .desc::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
#about-us .desc::-webkit-scrollbar-thumb:hover {
background: var(--main-color); 
}

#about-us .btn-default {
    margin-top: 2rem;
}

#about-us #about-us-slide {
    padding: 10px;
    border: 1px solid var(--main-color);
}

.path-frontpage .block_heaeder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}

.path-frontpage .block_heaeder .block-title {
    margin-bottom: 0;
}

.path-frontpage .block_heaeder .see-more {
    color: #fff;
    transition: 0.3s;
}

.path-frontpage .block_heaeder .see-more:hover {
    color: var(--main-color);
}


#field_of_activity {
    padding: 3rem 0;
}

#field_of_activity .swiper-slide {
    height: auto;
}

#field_of_activity .swiper-slide .item {
    height: 100%;
    border: 1px solid var(--main-color);
}

#field_of_activity .swiper-slide .item .img {
    padding: 5px;
}

#field_of_activity .inner {
    padding: 15px;
} 

#field_of_activity .inner .info {
    display: flex;
    align-items: center;
}

#field_of_activity h3.node_title {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 69px;
    display: -webkit-box;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
}

#field_of_activity .nember {
    font-size: 60px;
    font-weight: 600;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid var(--main-color);
    line-height: 60px;
    color: var(--main-color);
}

#field_of_activity .content_link {
    text-align: right;
    margin-top: 15px;
}

#field_of_activity .content_link a {
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    display: inline-block;
}

#partner {
    padding: 3rem 0;
}

#partner-tabContent {
    position: relative;
}

#partner-tabContent>.tab-pane {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
}

#partner-tabContent>.active {
    position: unset;
}

#partner-tab {
    margin-bottom: 40px;
}

#partner-tab a {
    font-size: 20px;
    padding: 0 0 8px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

#partner-tab a.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

#partner-tab a:not(:last-child) {
    margin-right: 30px;
}

#project {
    padding: 3rem 0;
}

#project .ih-item {
    width: 100%;
    height: auto;
}

#project .node_title {
    background: rgba(0, 0, 0, 0.466);
}

.path-gioi-thieu #about-us .desc {
    overflow: auto;
    max-height: 250px;
    margin-bottom: 30px;
}

#mission .item {
    position: relative;
}

#mission .info {
    position: absolute;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: #00000094;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#mission .info .title {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 30px;
}

#mission .info .desc {
    font-size: 14px;
    color: #fff;
    white-space: break-spaces;
    max-height: 250px;
    overflow: auto;
}

#mission .info::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border: 1px solid #fff;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
}

.path-gioi-thieu #about-us .btn-default {
    display: none;
}

#company {
    padding: 3rem 0;
}

#company .swiper-slide {
    height: auto;
}

#company .item {
    border: 1px solid var(--main-color);
    padding: 10px;
    height: 100%;
}

#company .item .col-md-6:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#company .item .logo img {
    width: 100px;
    cursor: pointer;
}

#company h3.title {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--main-color);
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

#company .swiper-pagination {
    position: unset;
    margin-top: 15px;
}

#company .item .img img {
    cursor: pointer;
}

#company .invest-item {
    padding-top: 295px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#company .modal-content {
    overflow: hidden;
}

#company .member-content {
    font-size: 14px;
}

#company h3.node_title {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--main-color);
}

#company .close {
    margin: 5px 10px;
    outline: none;
    box-shadow: none;
}

@media (min-width: 576px) {
    .path-gioi-thieu #about-us .desc {
        max-height: 250px;
    }

    .path-frontpage #about-us .desc {
        max-height: 250px;
    }
}

@media (min-width: 992px) {
    .path-gioi-thieu #about-us .desc {
        max-height: 240px;
        margin-bottom: 0;
    }

    .path-frontpage #about-us .desc {
        max-height: 160px;
    }

    .path-frontpage #about-us .col-lg-6:first-child {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .path-gioi-thieu #about-us .desc {
        max-height: 300px;
    }

    .path-frontpage #about-us .desc {
        max-height: 220px;
    }
}

@media (min-width: 1400px) {
    .path-frontpage #about-us .desc {
        max-height: 220px;
    }
}